.light .article {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.light .article .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.light .article h1:hover .anchor .octicon-link:before,
.light .article h2:hover .anchor .octicon-link:before,
.light .article h3:hover .anchor .octicon-link:before,
.light .article h4:hover .anchor .octicon-link:before,
.light .article h5:hover .anchor .octicon-link:before,
.light .article h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.light .article details,
.light .article figcaption,
.light .article figure {
  display: block;
}

.light .article summary {
  display: list-item;
}

.light .article [hidden] {
  display: none !important;
}

.light .article a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.light .article a:active,
.light .article a:hover {
  outline-width: 0;
}

.light .article abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.light .article b,
.light .article strong {
  font-weight: 600;
}

.light .article dfn {
  font-style: italic;
}

.light .article h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.light .article mark {
  background-color: #fff8c5;
  color: #24292f;
}

.light .article small {
  font-size: 90%;
}

.light .article sub,
.light .article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.light .article sub {
  bottom: -0.25em;
}

.light .article sup {
  top: -0.5em;
}

.light .article img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.light .article code,
.light .article kbd,
.light .article pre,
.light .article samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.light .article figure {
  margin: 1em 40px;
}

.light .article hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.light .article input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.light .article [type='button'],
.light .article [type='reset'],
.light .article [type='submit'] {
  -webkit-appearance: button;
}

.light .article [type='button']::-moz-focus-inner,
.light .article [type='reset']::-moz-focus-inner,
.light .article [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.light .article [type='button']:-moz-focusring,
.light .article [type='reset']:-moz-focusring,
.light .article [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.light .article [type='checkbox'],
.light .article [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.light .article [type='number']::-webkit-inner-spin-button,
.light .article [type='number']::-webkit-outer-spin-button {
  height: auto;
}

.light .article [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.light .article [type='search']::-webkit-search-cancel-button,
.light .article [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.light .article ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.light .article ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.light .article a:hover {
  text-decoration: underline;
}

.light .article hr::before {
  display: table;
  content: '';
}

.light .article hr::after {
  display: table;
  clear: both;
  content: '';
}

.light .article table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.light .article td,
.light .article th {
  padding: 0;
}

.light .article details summary {
  cursor: pointer;
}

.light .article details:not([open]) > *:not(summary) {
  display: none !important;
}

.light .article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.light .article h1,
.light .article h2,
.light .article h3,
.light .article h4,
.light .article h5,
.light .article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.light .article h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.light .article h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.light .article h4 {
  font-weight: 600;
  font-size: 1em;
}

.light .article h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.light .article h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #57606a;
}

.light .article p {
  margin-top: 0;
  margin-bottom: 10px;
}

.light .article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.light .article ul,
.light .article ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.light .article ol ol,
.light .article ul ol {
  list-style-type: lower-roman;
}

.light .article ul ul ol,
.light .article ul ol ol,
.light .article ol ul ol,
.light .article ol ol ol {
  list-style-type: lower-alpha;
}

.light .article dd {
  margin-left: 0;
}

.light .article tt,
.light .article code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

.light .article pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.light .article .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.light .article ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.light .article input::-webkit-outer-spin-button,
.light .article input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.light .article .pl-c {
  color: #6e7781;
}

.light .article .pl-c1,
.light .article .pl-s .pl-v {
  color: #0550ae;
}

.light .article .pl-e,
.light .article .pl-en {
  color: #8250df;
}

.light .article .pl-smi,
.light .article .pl-s .pl-s1 {
  color: #24292f;
}

.light .article .pl-ent {
  color: #116329;
}

.light .article .pl-k {
  color: #cf222e;
}

.light .article .pl-s,
.light .article .pl-pds,
.light .article .pl-s .pl-pse .pl-s1,
.light .article .pl-sr,
.light .article .pl-sr .pl-cce,
.light .article .pl-sr .pl-sre,
.light .article .pl-sr .pl-sra {
  color: #0a3069;
}

.light .article .pl-v,
.light .article .pl-smw {
  color: #953800;
}

.light .article .pl-bu {
  color: #82071e;
}

.light .article .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.light .article .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.light .article .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.light .article .pl-ml {
  color: #3b2300;
}

.light .article .pl-mh,
.light .article .pl-mh .pl-en,
.light .article .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.light .article .pl-mi {
  font-style: italic;
  color: #24292f;
}

.light .article .pl-mb {
  font-weight: bold;
  color: #24292f;
}

.light .article .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.light .article .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.light .article .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.light .article .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.light .article .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.light .article .pl-ba {
  color: #57606a;
}

.light .article .pl-sg {
  color: #8c959f;
}

.light .article .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.light .article [data-catalyst] {
  display: block;
}

.light .article g-emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.light .article g-emoji img {
  width: 1em;
  height: 1em;
}

.light .article::before {
  display: table;
  content: '';
}

.light .article::after {
  display: table;
  clear: both;
  content: '';
}

.light .article > *:first-child {
  margin-top: 0 !important;
}

.light .article > *:last-child {
  margin-bottom: 0 !important;
}

.light .article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.light .article .absent {
  color: #cf222e;
}

.light .article .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.light .article .anchor:focus {
  outline: none;
}

.light .article p,
.light .article blockquote,
.light .article ul,
.light .article ol,
.light .article dl,
.light .article table,
.light .article pre,
.light .article details {
  margin-top: 0;
  margin-bottom: 16px;
}

.light .article blockquote > :first-child {
  margin-top: 0;
}

.light .article blockquote > :last-child {
  margin-bottom: 0;
}

.light .article sup > a::before {
  content: '[';
}

.light .article sup > a::after {
  content: ']';
}

.light .article h1 .octicon-link,
.light .article h2 .octicon-link,
.light .article h3 .octicon-link,
.light .article h4 .octicon-link,
.light .article h5 .octicon-link,
.light .article h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.light .article h1:hover .anchor,
.light .article h2:hover .anchor,
.light .article h3:hover .anchor,
.light .article h4:hover .anchor,
.light .article h5:hover .anchor,
.light .article h6:hover .anchor {
  text-decoration: none;
}

.light .article h1:hover .anchor .octicon-link,
.light .article h2:hover .anchor .octicon-link,
.light .article h3:hover .anchor .octicon-link,
.light .article h4:hover .anchor .octicon-link,
.light .article h5:hover .anchor .octicon-link,
.light .article h6:hover .anchor .octicon-link {
  visibility: visible;
}

.light .article h1 tt,
.light .article h1 code,
.light .article h2 tt,
.light .article h2 code,
.light .article h3 tt,
.light .article h3 code,
.light .article h4 tt,
.light .article h4 code,
.light .article h5 tt,
.light .article h5 code,
.light .article h6 tt,
.light .article h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.light .article ul.no-list,
.light .article ol.no-list {
  padding: 0;
  list-style-type: none;
}

.light .article ol[type='1'] {
  list-style-type: decimal;
}

.light .article ol[type='a'] {
  list-style-type: lower-alpha;
}

.light .article ol[type='i'] {
  list-style-type: lower-roman;
}

.light .article div > ol:not([type]) {
  list-style-type: decimal;
}

.light .article ul ul,
.light .article ul ol,
.light .article ol ol,
.light .article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.light .article li > p {
  margin-top: 16px;
}

.light .article li + li {
  margin-top: 0.25em;
}

.light .article dl {
  padding: 0;
}

.light .article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.light .article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.light .article table th {
  font-weight: 600;
}

.light .article table th,
.light .article table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.light .article table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.light .article table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.light .article table img {
  background-color: transparent;
}

.light .article img[align='right'] {
  padding-left: 20px;
}

.light .article img[align='left'] {
  padding-right: 20px;
}

.light .article .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.light .article span.frame {
  display: block;
  overflow: hidden;
}

.light .article span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.light .article span.frame span img {
  display: block;
  float: left;
}

.light .article span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.light .article span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.light .article span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.light .article span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.light .article span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.light .article span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.light .article span.align-right span img {
  margin: 0;
  text-align: right;
}

.light .article span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.light .article span.float-left span {
  margin: 13px 0 0;
}

.light .article span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.light .article span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.light .article code,
.light .article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.light .article code br,
.light .article tt br {
  display: none;
}

.light .article del code {
  text-decoration: inherit;
}

.light .article pre code {
  font-size: 100%;
}

.light .article pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.light .article .highlight {
  margin-bottom: 16px;
}

.light .article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.light .article .highlight pre,
.light .article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.light .article pre code,
.light .article pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.light .article .csv-data td,
.light .article .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.light .article .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.light .article .csv-data tr {
  border-top: 0;
}

.light .article .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.light .article .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.light .article .footnotes ol {
  padding-left: 16px;
}

.light .article .footnotes li {
  position: relative;
}

.light .article .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: '';
  border: 2px solid #0969da;
  border-radius: 6px;
}

.light .article .footnotes li:target {
  color: #24292f;
}

.light .article .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.light .article .task-list-item {
  list-style-type: none;
}

.light .article .task-list-item label {
  font-weight: 400;
}

.light .article .task-list-item.enabled label {
  cursor: pointer;
}

.light .article .task-list-item + .task-list-item {
  margin-top: 3px;
}

.light .article .task-list-item .handle {
  display: none;
}

.light .article .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.light .article .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.light .article ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
